@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --green: #366608;
    --white: #f5f5f5;
    --black: #222222;
    --primaryRed: #b92f2f;
    --greenCart: #198754;
    --redCart: #dc3545;
    --yellowCart: #ffc107;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.material-symbols-sharp {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 30,
    'opsz' 40
}

#bodyId{
    /* #dfe9f3 */
    background: linear-gradient(120deg, #f5f5f5 10%, #366608 80%);
    /* background-image: url("../img/background.jpg"); */
    background-repeat: no-repeat;
    background-size: contain;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
p, a, small, label, span, .cartBtn, li, .form-select{
    font-family: 'Montserrat', sans-serif;
}

#logo{
    width: 5rem;
    height: 5rem;
}

.mainTitle{
    vertical-align: middle;
}

.navbarItemsContainer{
    display: flex;
    justify-content: end;
}

.button{
    border: none;
    padding: 8px;
    background: transparent;
}

#cartBtn{
    color: #222222;
}

#footerId div div ul li .footerItem{
    color: #222222;
}

.btnAddItem, .btnReduceItem, .btnDeleteItem{
    border: none;
}
.btnAddItem{
    background-color: #198754;
}

.btnReduceItem{
    background-color: #ffc107;
}

.btnDeleteItem{
    background-color: #dc3545;
}



/* Cart.html */
#buttonDelete{
    background-color: #dc3545;
}

#buttonAdd{
    background-color: #198754;
}

#buttonDelete:hover{
    background-color: #b92f2f;
}

#buttonAdd:hover{
    background-color: #166c44;
}

#footerId{
    background-color: #f5f5f5;
}

div .modalTrigger .modalProduct{
    width: 25rem;
    height: 25rem;
}


ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    text-align: left;
}

li.bold {
    font-weight: bold;
}

/* Estilo para los modales */
.modalProduct {
    position: relative;
    z-index: 2;
    background-color: var(--green);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modalProduct::before {
    content: ""; /* Creo un pseudo elemento  */
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Coloca el fondo oscuro detrás de la imagen */
    pointer-events: none; /* Permite que los elementos dentro del modal sean clicables */
}

/* Estilo para el título de los modales */
.modalProduct__title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centra el título correctamente */
    color: white; 
    z-index: 3; /* Coloca el título por encima de todo el contenido */
}

/* Estilos para botones de products */
.addProductBtn, .secondaryBtn{
    background-color: var(--green);
    border-color: var(--green);
}

.secondaryBtn {
    font-weight: bold;
}

.secondaryBtn:hover {
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
    font-weight: bold;
}
